$color1:rgb(34, 122, 31);
$color2: rgb(255, 255, 255);
$color3:rgb(255, 80, 1);
$color4:rgb(255, 188, 1);
$color5: rgba(141,191,66,0);
$color6: rgba(255,93,18,1);
$color7: rgba(84,84,84,1);
$color8: rgba(36,36,36,1);
$color9: rgba(56,78,0,1);
$color10:#88cc19;